:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} 

body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


:root {
    color: #213547;
    background-color: #ffffff;
  }

a:hover {
    color: #747bff;
  }

button {
    background-color: #f9f9f9;
  }


.scan-button{
    background-image: linear-gradient(180deg,#6ed489,#25c55e); 
    border: 1px solid #1eb957;
    text-decoration: none; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
    color: white;
    transition: background-color 0.2s, border-color 0.2s, transform 0.2s; 
}

.container {
  display: grid;
  width: 90%; 
  margin: 0 auto;
  grid-template-areas: 
    'header header'
    'image  image'
    'calories carbs'
    'fats   protein'
    'ingredients ingredients';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr 1fr auto;
}


.header {
  grid-area: header;
  padding: 10px;
  text-align: left;
  margin: 10px 0px 10px 10px;
}

.image {
  grid-area: image;
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 100%; 
  overflow: hidden; 
  margin-bottom: 20px;
}

.image img {
  width: 100%; 
  height: auto;
  border-radius: 0.5rem;
  max-width: 90%; 
}

.calories {
  background-image: linear-gradient(180deg,#ff418a,#FF0060); 
  border: 1px solid #e10056;
  text-decoration: none; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
  grid-area: calories;
}

.carbs {
  background-image: linear-gradient(180deg,#ffdc50,#ffcd04); 
  border: 1px solid #e4c600;
  text-decoration: none; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
  grid-area: carbs;
}

.fats {
  background-image: linear-gradient(180deg,#20ffc3,#00DFA2); 
  border: 1px solid #00d99f;
  text-decoration: none; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
  grid-area: fats;
}

.protein {
  background-image: linear-gradient(180deg,#3191ff,#0079FF); 
  border: 1px solid #006ce8;
  text-decoration: none; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
  grid-area: protein;
}

.carbs, .fats, .protein, .calories {
  color: white;
  font-weight: bold;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  height: 20vh;
  width: auto;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  justify-content: flex-start; 
  padding: 10px; 
}

.ingredients {
  grid-area: ingredients;
  padding: 10px;
  text-align: left;
  margin: 10px 0px 10px 10px;
}

.loading::after {
  display: inline-block;
  animation: dotty steps(1,end) 1s infinite;
  content: '';
}

@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

